@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  background-color: #232323;
  margin: 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container {
  flex: 0 0 auto;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.nav-items {
  margin: 0;
  margin-left: 20px;
}
.nav-link {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0 5px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

/* Hero */
#hero {
  padding-top: 10%;
  text-align: center;
}

.abt-section-btn {
  background-color: #232323;
  text-decoration: none;
  border-radius: 12px;
  margin: 10px;
  border: 1px solid #0092ff;
  font-size: 13px;
  padding: 15px 10px;
}

button:hover {
  background-color: #0092ff;
  cursor: pointer;
}

.cv-link,
.cm-link {
  color: #0092ff;
  text-decoration: none;
  padding: 40px 20px;
  border-radius: 12px;
}

.cv-link:hover,
.cm-link:hover {
  color: white;
}

.download-btn-section {
  display: flex;
  justify-content: center;
}

h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1,
.discription {
  padding: 10% auto;
  margin: 1% auto;
  font-family: "Courier New", Courier, monospace;
  color: #f0f0ea;
  font-size: 2rem;
}
.my-img {
  margin-top: 1%;
  padding-top: 20px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/* Skills */
#Skills {
  padding-top: 10%;
  text-align: center;
}
.icon {
  width: 80px;
  height: 80px;
}

.skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
}
.tool {
  padding: 20px;
}

.skills-header {
  font-size: 75px;
  margin: 0;
}

.skills-disc {
  font-size: 30px;
  margin: 0;
}

/* Projects */
#projects {
  padding: 8% 5% 3% 5%;
  display: flex;
  flex-direction: column;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 48%;
}

.title-img {
  width: 100%;
  border-radius: 8px;
}

.project-header {
  text-align: center;
  padding: 20px;
  font-size: 75px;
  margin: 0;
  margin-bottom: 2%;
}

/* About */
#about {
  padding: 10% 5% 5% 5%;
  text-align: center;
}

.text-photo {
  display: flex;
  align-items: center;
}

.aboutMe {
  font-size: 60px;
  margin-bottom: 25px;
}

.about-me-photo {
  width: 175px;
  height: 380px;
  margin-right: 10px;
}
.text-area {
  flex: 1;
}
.aboutMeText {
  font-size: 25px;
}

/* Contact */
#contact {
  padding: 10% 0;
}
form {
  max-width: 400px;
  margin: 0 auto;
}

.input-name,
.input-email,
.form-message {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.contact-header {
  font-size: 75px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.submit-button {
  text-align: center;
  margin-top: 4%;
}

.submit-btn {
  background-color: #232323;
  border-radius: 8px;
  border: 1px solid #0092ff;
  padding: 20px;
  color: #0092ff;
  font-size: 15px;
}

button:hover {
  color: white;
}

/* Footer */
#footer {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}

.social-icons .sm-logo {
  width: 30px;
  height: 30px;
}

.sm-icon {
  padding-right: 20px;
  display: flex;
}

.sm-icon li {
  display: flex;
  align-items: center;
}

.sm-title {
  color: #232323;
  font-weight: bold;
}

.sm-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding-right: 20px;
}

.copyright {
  margin: auto 0 0 0;
  padding-right: 10px;
}

@media screen and (min-width: 681px) {
  /* For Contact */
  form {
    max-width: 600px;
  }

  /* For Skills */
  .skill {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  /* For Navbar */
  .nav-items {
    margin: 0;
    text-align: center;
  }

  .nav-link {
    padding-left: 5px;
  }

  #hero,
  #Skills,
  #projects,
  #contact {
    padding-top: 35%;
  }

  /* For Hero */
  h1 {
    font-size: 1.6rem;
  }

  .discription {
    font-size: 1.3rem;
  }

  /* For Skills */
  .skills-header {
    font-size: 50px;
    padding: 0 30px;
  }

  .skills-disc {
    font-size: 20px;
  }

  .skill {
    grid-template-columns: repeat(2, 1fr);
  }

  /* For Project */
  .cards {
    display: block;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .project-header {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    font-size: 38px;
    margin-bottom: 4%;
  }

  /* For About */

  .aboutMe {
    padding-top: 10%;
    font-size: 45px;
  }
  .text-photo {
    display: block;
  }
  .aboutMeText {
    font-size: 19px;
  }
  /* For Contact */

  #contact {
    padding: 30% 5% 28% 5%;
  }

  form {
    max-width: 350px;
  }
  .contact-header {
    font-size: 40px;
    padding: 5%;
  }

  /* For Footer */
  .sm-title {
    display: none;
  }
}
